*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(resource/WhatsApp\ Image\ 2025-07-03\ at\ 09.44.50.jpeg);
    background-size: cover;              /* memastikan gambar mengisi layar */
    background-repeat: no-repeat;
    background-position: center center;  /* center horizontal dan vertical */
    background-attachment: fixed;        /* opsional: agar efek parallax */
    width: 100vw;                        /* penuh horizontal */
    height: 100vh;                       /* penuh vertical */
    overflow: hidden;                    /* agar tidak overflow */
    display: flex;                       /* untuk konten di dalam tetap bisa diatur */
    flex-direction: column;

}

.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(37, 36, 37);
    color: rgb(255, 255, 255);
    width: calc(100% - 10rem);
    padding: 15px 20px; /* atas-bawah 15px, kiri-kanan 30px */
    max-width: 40rem; /* sesuaikan dengan kebutuhan */
    margin: 2rem 4rem; /* 20px atas-bawah, auto kiri-kanan */
    border-radius: 25px; /* opsional agar sudut membulat */
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}

.icon {
    flex-direction: column,row;
    position: fixed;
    display: flex;
    right: 15%;   /* atur sesuai posisi lingkaranmu */
    top: 12%;     /* atur sesuai posisi lingkaranmu */
    width: 50vb; /* sesuaikan ukuran */
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color:rgb(187, 122, 201);
}

.content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.9rem;
    padding: 0.1rem;
    padding-top: 3.5rem;
    padding-left: 5rem;
}

.desk {
    font-family: Cambria;
    font-size: 1.5rem;
    padding-left: 5rem;
}

.ask {
    padding-top: 7rem;
    color:white;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding-left: 5rem;
}

.container {
    display: flex;
    align-items: first baseline;
    padding-top: 1rem;
    padding-left: 5rem;
}

.btn {
    background-color: rgb(255, 39, 237);
    color: white;
    padding: 13px 23px;
    font-size: 1.3rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: rgb(158, 23, 147);
    transform: scale(1.05);
}

